@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Integrantes:</p>
    <p>Jennifer Soto Mora</p>
    <p>Kevin Emmanuel Chavarría Vargas</p>
    <p>Brayan Daniel Orozco Madrigal</p>
    <p>Jason Hernán Chavarría Ramos</p>
</div>
